@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Montserrat:wght@600&family=Poppins:wght@200;300;400;700&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.encabezado-superior{
    position: relative;
    background-image:
    linear-gradient(to bottom, #572204d8, #572204d8),
    url('img/fachada.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    z-index: 0;
}

@media (min-width: 768px){
    .encabezado-superior{
        height: 96vh;   
    }
}

.contenedor-textos .logotipo{
    display: block;
    width: 110px;
    margin: 0;
}

@media (min-width: 768px){
    .contenedor-textos .logotipo{
        width: 150px;  
    }
}
.contenedor-textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
    margin: 0 auto;
}

@media (min-width: 768px){
    .contenedor-textos{
        margin-top: -3rem;
    }
}

.contenedor-textos p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
}
/* ---- Animaciones del header --------- */
.entrada{
    animation-name: entrada;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes entrada{
    0%{opacity: 0; transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    60%{opacity: 1; transform: scale(1.3)}
    80%{opacity: 1; transform: scale(.9)}
    100%{opacity: 1;transform: scale(1);}
}

.entrada_2{
    animation-name: entrada_2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes entrada_2{
    0%{opacity: 0; transform: translateY(80px);}
    60%{opacity: 0;}
    100%{opacity: 1;transform: translateY(0px);}
}

.entrada_3{
    animation-name: entrada_3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes entrada_3{
    0%{opacity: 0; transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    60%{opacity: 1; transform: scale(1.3)}
    80%{opacity: 1; transform: scale(.9)}
    100%{opacity: 1;transform: scale(1);}
}

.entrada_4{
    animation-name: entrada_4;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
@keyframes entrada_4{
    0%{opacity: 0; transform: translateY(-60px);}
    60%{opacity: 0;}
    100%{opacity: 1;transform: translateY(0px);}
}

.entrada_5{
    animation-name: entrada_5;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes entrada_5{
    0%{opacity: 0; transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    60%{opacity: 1; transform: scale(1.3)}
    80%{opacity: 1; transform: scale(.9)}
    100%{opacity: 1;transform: scale(1);}
    /* 0%{opacity: 0; transform: translateY(-60px);}
    60%{opacity: 0;}
    100%{opacity: 1;transform: translateY(0px);} */
}

/* ---- fin Animaciones del header --------- */

.contenedor-textos h1{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
}

@media (min-width: 768px){
    .contenedor-textos h1{
        font-size: 4rem; 
        margin-top: -2rem;  
    }
}
.contenedor-textos a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    border: 4px solid #ffcc00;
    padding: .3rem 1.7rem;
    border-radius: 40px;
}

.contenedor-textos img{
    width: 17px;
}

@media (min-width: 768px){
    .contenedor-textos a{
        font-size: 2.5rem;
        border-radius: 35px;
    }
    .contenedor-textos img{
        width: 34px;
    }
    
    .contenedor-textos p{
        font-size: 2rem;
    }
}

/* Seccion de antojos */

.seccion-antojos{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    right: 0;
    width: 90%;
    background-color: #ffcc00;
    padding: .8rem;
    margin: 0 auto;
    z-index: 1;
}

@media (min-width: 768px){
    .seccion-antojos{
        width: 70%;
        padding: 1.5rem;
        bottom: -7rem;
    }
}

.seccion-antojos h3{
    font-family: 'Lato', sans-serif;
    color: #c95818;
    text-align: center;
    margin-bottom: .5rem;
    font-size: .8rem;
    font-weight: 800;
    text-transform: uppercase;
}

@media (min-width: 768px){
    .seccion-antojos h3{
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
}

.contenedor-img-antojos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor-img-antojos img{
    width: 37px;
}

@media (min-width: 768px){
    .contenedor-img-antojos img{
        width: 100px;
    }
}

.contenedor-img-antojos p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 9px;
    color: #c95818;
    text-align: center;
}


@media (min-width: 768px){
    .contenedor-img-antojos p{
        margin-left: 1.2rem;
        font-size: 16px;
    }
}

/* Seccion deleitate */

.contenedor-deleite{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 7rem auto 2rem auto;
    gap: 1.5rem;
}

@media (min-width: 768px){
    .contenedor-deleite{
        width: 60%;
        margin: 12rem auto 2rem auto;
    }
}
.contenedor-deleite h2{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: gray;
    text-align: center;
    display: block;
    z-index: 10;
}

.contenedor-deleite img{
    margin-top: -4rem;
    display: block;
    width: 50%;
}

@media (min-width: 768px){
    .contenedor-deleite h2{
        font-size: 2.3rem;
    }

    .contenedor-deleite img{
        width: 35%;
    }
}
.contenedor-deleite .sason{
    font-weight: 600;
    font-size: 1.5rem;
}
.contenedor-deleite p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #c95818;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width: 768px){
    .contenedor-deleite p{
        font-size: 1.3rem;
    }
}

/* seccion galeria de platos */


/* Animaciones cards */

.card {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

/* Animaciones cards */

.contenedor-main{
    display: block;
    width: 100vw;
    margin: 0 auto;
}
.contenedor-platos{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .1rem;
}

@media (min-width:768px){
    .contenedor-main{
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .contenedor-platos{
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: .3rem;
        margin: 0 auto;
        padding: 0;
    }
}
.card-plato{
    margin: 0 auto .7rem auto;
    padding: 0;
}
.card-plato .contenedor-img-plato{
    width: auto;
    height: auto;
    overflow: hidden;
}
.card-plato img{
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all .3s ease-in-out;
}

.card-plato img:hover{
    cursor: pointer;
    filter: brightness(50%)
}

@media (min-width: 768px){
    .card-plato img{
        width: 100%;
    }
}

.titulo-plato{
    font-weight: 200;
    font-size: 20px;
    color: #4e4e4e;
}
.textos-card{
    margin-bottom: .8rem;
}

.format-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
}

.precio{
    color: red;
    font-weight: 800;
    font-size: 20px;
}

.plato-descripcion{
    display: block;
    text-align: center;
    font-weight: 200;
    width: 70%;
    margin: .5rem auto 0 auto;
}

/* Seccion de contacto reservas */

.contenedor-reservas{
    position: relative;
    background-color: #2e2e2e;
    background-image: url('img/patron-form-textura.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 90vh;
    padding: 2rem 10px;
    margin-top: .2rem;
    overflow: hidden;
}

@media (min-width: 768px){
    .contenedor-reservas{
        height: 150vh;
        padding: 8rem 2rem;
    }
}

.formulario{
    background-color: #ffcc00;
    position: absolute;
    bottom: auto;
    right: 0;
    left: 0;
    width: 94%;
    height: 40%;
    margin: 2rem auto 0 auto;
    border-radius: 10px;
}

@media (min-width: 768px){
    .formulario{
        position: absolute;
        bottom: 3rem;
        left: 5rem;
        right: 0;   
        width: 72%;
        height: 50%;
        margin: 1rem auto 0 auto;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

.contenedor-reservas .img-chef{
    width: 180px;
    position: absolute;
    left: -39px;
    bottom: 0;
    z-index: 10;
}

@media (min-width: 768px){
    .contenedor-reservas .img-chef{
        width: 650px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: -21%;
        bottom: -.2rem;
        z-index: 1;
    }
}

.texto-caramel{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.contenedor-reservas p{
    display: block;
    color: #fff;
    margin: 2rem 0 0 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    z-index: 100;
}
@media (min-width: 768px){

    .texto-caramel{
        width: 50%;
        display: block;
        margin: 0 20% 0 auto;
    }
    .contenedor-reservas p{
        width: 50%;
        font-weight: 300;
        margin: 2rem 16rem 0 auto;
        
    }

    .contenedor-reservas h2{
        font-size: 4rem;
        margin: 4rem auto 0 6rem;
    }
}

.formulario form{
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 0 1.5rem;
    margin-top: 2rem;
}

@media (min-width: 768px){
    .formulario form{
        width: 55%;
        height: 100%;
        margin-top: 6rem;
        margin-right: 2rem;
    }
}
form label{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
    text-align: center;
    font-size: 15px;
    color: #611a00;
    font-weight: 400;
}

@media (min-width: 768px){
    form label{
        font-size: 1.5rem;
    }
}

.seccion-input{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.contenedor-textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem auto;
}

.contenedor-input{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){
    .contenedor-input{
        justify-content: space-between;
        width: 100%;
    }
}

.seccion-input input,
.contenedor-textarea textarea{
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: .9rem;
    border-radius: 3px;
    width: 100%;
    outline: none;
}

.seccion-input input{
    width: 100%;
    margin: 0 auto;
    padding: .5rem 0;
    font-size: 1.2rem;
}

.contenedor-textarea textarea{
    max-width: 250px;
    min-width: 200px;
    min-height: 70px;
    font-size: 1.2rem;
}

@media (min-width: 768px){
    .contenedor-input input{
        border-radius: 12px;
        padding-left: 10px;
    }
    .contenedor-textarea textarea{
        display: block;
        max-width: 40%;
        max-height: 160px;
        min-width: 100%;
        width: 100%;
        height: 120px;
        font-size: 1.7rem;
        border-radius: 12px;
    }
}

.contenedor-textarea label{
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: 0 14% 10px 0;
}

form button{
    display: block;
    margin: 1rem 0 0 38%;
    padding: .6rem 2rem;
    background-color: #681c00;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}

@media (min-width: 768px){
    form button{
        margin: 0 auto;
        font-size: 2.2rem;
        margin-top: 2rem;
        padding: .7rem 3rem;
        font-weight: 700;
    }
    .contenedor-textarea label{
        margin: 0 20% 10px 0;
    }
}

.img-vegetales{
    display: block;
    position: absolute;
    bottom: 4rem;
    right: -4rem;
    width: 600px;
    transform: rotate(-15deg);
    transform: translateY(-50px);
    object-position: center center;
    z-index: 1;
}
@media (min-width: 420px){
    .img-vegetales{
        display: none;
    }
}
@media (min-width: 768px){
    .img-vegetales{
        display: block;
        bottom: -10rem;
        right: -12rem;
        width: 150%;
        z-index: 2;
    }
}
